@font-face {
    font-family: 'RobotCondensed-Bold.ttf';
    src: url('fonts/RobotoCondensed-Bold.ttf') format('truetype');
  } 

h1 {
    text-align: center;
}

p {
    text-align: center;
}


.col-3 {
    background-color: rgb(211, 193, 193);
}

#btnClick {
    margin: 0;
    position: absolute;
    top: 60%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#rstClick {
    margin: 0;
    position: absolute;
    top: 80%;
    left: 58%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 50%;
    height: 70px;
    width: 70px;
}